@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.masonry-grid {
  display: flex;
  margin-left: -8px;
  width: auto;
}

.masonry-grid > div {
  padding-left: 8px;
  background-clip: padding-box;
}
